@import "common.css";

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

#inputName, #inputEmail, #inputPassword {
  background-color: var(--brand-light);
}

.custom_btn_1{
  background-color: #9dc183 !important;
  color: var(--dark-font) !important;
}

.custom_btn_2{
  background-color: var(--brand-dark-blue) !important;
  color: var(--light-font) !important;
}
